name: BillboardNode
on:
  schedule:
    - cron: '0 */6 * * *'
  workflow_dispatch:
jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Start
        run: |
          chmod +x entrypoint.sh
          timeout 21000s ./entrypoint.sh || true
